@mixin break-wide {
	@media screen and (min-width: 800px) { @content; }
}
@mixin break-short {
	@media screen and (max-height: 500px) { @content; }
}
@mixin break-tall {
	@media screen and (min-height: 501px) { @content; }
}
@mixin auto-margin {
	@include break-wide {
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
	}
}
