.wrapper {
	z-index: 0;

	width: 100%;
	transition: all .2s ease;

}
.blur .wrapper {
	transform: scale(0.9);
	pointer-events: none;
	// filter: blur(5px);
}

.reader-overlay {
	@extend %no-select;
	$nav-width: 18px;
	$nav-padding: 20px;

	z-index: 10;

	color: rgba(#fff, .8);

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;

	background: rgba(#000, .8);

	animation: open-reader .2s ease 0s 1 normal;

	p {
		// Make sure that part of the previous page is displayed when anchors are
		// used by setting a negative margin-bottom
		margin: 0 0 -3em;
		padding: 2em 1em;
		text-align: center;
		transition: all .2s ease;
	}

	img {
		width: 100%;
		height: auto;
		max-width: 650px;
		filter: sharpen(1);
		box-shadow: 0 .2em .5em rgba(#000, .3);
	}

	.btn {
		@extend %alternate-font;
		position: absolute;
		top: 14px;
		right: 14px;
		-webkit-appearance: none;
		border: none;
		color: inherit;
		font-size: 1em;
		padding: 0;
		border-radius: 50%;
		width: 1.8em;
		height: 1.8em;
		background-color: rgba(#000, .05);
		cursor: pointer;

		&:hover {
			background-color: rgba(#000, .2);
		}
		&:focus, &:active {
			background-color: rgba(#000, .5);
			outline: none;
		}
	}

	h2 {
		position: absolute;
		margin: 0;
		top: 16px;
		right: 55px;
		font-size: 1.2em;
		display: inline-block;
		text-align: right;
		text-shadow: 0 1px 1px rgba(#000, .2);
	}

	.reader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0 ($nav-width + 2 * $nav-padding);
	}

	nav {
		$width: $nav-width;
		position: absolute;
		padding: 0 $nav-padding;
		overflow: hidden;
		&:hover { overflow: auto; }
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: $width;

		transition: background .2s ease;

		li {
			width: $width;
			height: $width * 1.3333;
			margin-bottom: .3em;

			opacity: .3;
			transition: opacity .2s ease;
	
			border: none;

			&.active {
				opacity: 1;
			}
		}

		&:hover {
			background: rgba(#000, .3);
		}
	}

	aside {
		h3, dl {
			margin: 0;
		}
		$transition: all .1s ease;

		position: absolute;

		text-shadow: 0 1px 1px rgba(#000, .2);
		border-radius: 4px;
		font-size: .8em;
		top: 55px;
		right: 14px;
		text-align: left;
		line-height: 1.3em;

		padding: .5em;

		transform-origin: top right;
		transform: scale(0.3);
		transition: $transition;

		width: 20%;
		min-width: 250px;
		max-width: 100%;

		h3 {
			position: absolute;
			top: 50%;
			width: 100%;
			margin-top: -1em;
			text-align: center;
			transform: scale(3);
			transition: $transition;
		}
		dl {
			transition: $transition;
			opacity: .3;
		}
		dt {
			float: left;
			min-width: 2.5em;
			text-align: right;
		}
		dd {
			font-weight: 300;
			margin-left: 3.3em;
		}
		&:hover {
			background-color: rgba(#000, .8);
			transform: none;
			dl {
				opacity: 1;
			}
			h3 {
				opacity: 0;
				transform: scale(1);
			}
		}
	}
}

@keyframes open-reader {
	0% {
		display: none;
		opacity: 0;
		transform: scale(1);
	}
	5% {
		// fix JS page measuring bug
		display: none;
		opacity: 0;
		transform: scale(1.2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
