.wrapper {
	width: 100%;
	transition: all .2s ease;

}
.blur .wrapper {
	transform: scale(0.9);
	// filter: blur(5px);
}

.reader-overlay {
	@extend %no-select;
	$nav-width: 18px;
	$nav-padding: 15px;

	color: rgba(#fff, .8);

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;

	padding: 0 2*($nav-width + $nav-padding);

	background: rgba(#000, .8);

	animation: open-reader .2s ease 0s 1 normal;

	p {
		// Make sure that part of the previous page is displayed when anchors are
		// used by setting a negative margin-bottom
		margin: 0 0 -3em;
		padding: 2em 1em;
		text-align: center;
	}

	img {
		width: 100%;
		height: auto;
		max-width: 800px;
		box-shadow: 0 .2em .5em rgba(#000, .3);
	}

	.btn {
		@extend %alternate-font;
		position: fixed;
		top: 14px;
		right: 14px;
		-webkit-appearance: none;
		border: none;
		color: inherit;
		font-size: 1em;
		padding: 0;
		border-radius: 50%;
		width: 1.8em;
		height: 1.8em;
		background-color: rgba(#000, .05);
		cursor: pointer;

		&:hover {
			background-color: rgba(#000, .2);
		}
		&:focus, &:active {
			background-color: rgba(#000, .5);
			outline: none;
		}
	}

	h2 {
		position: fixed;
		margin: 0;
		top: 16px;
		right: 55px;
		font-size: 1.2em;
		display: inline-block;
		text-align: right;
		text-shadow: 0 1px 1px rgba(#000, .2);
	}

	nav {
		$width: $nav-width;
		position: fixed;
		padding: 0 $nav-padding;
		overflow: auto;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: $width;

		transition: background .2s ease;

		li {
			width: $width;
			height: $width * 1.3333;
			margin-bottom: .3em;

			opacity: .3;
			transition: opacity .2s ease;
	
			border: none;

			&.active {
				opacity: 1;
			}
		}

		&:hover {
			background: rgba(#000, .3);
		}
	}

	aside {
		h3, dl {
			margin: 0;
		}

		text-shadow: 0 1px 1px rgba(#000, .2);
		border-radius: 4px;
		font-size: .8em;
		position: fixed;
		bottom: 14px;
		right: 14px;
		text-align: left;
		line-height: 1.3em;

		dl {
			display: none;
		}
		dt {
			float: left;
			min-width: 2.5em;
			text-align: right;
		}
		dd {
			font-weight: 300;
			margin-left: 3.3em;
		}
		&:hover {
			padding: .5em;
			width: 20%;
			min-width: 250px;
			max-width: 100%;
			background-color: rgba(#000, .8);
			dl {
				display: block;
				will-change: display;
			}
			h3 {
				display: none;
			}
		}
	}
}

@keyframes open-reader {
	0% {
		display: none;
		opacity: 0;
		transform: scale(1);
	}
	5% {
		// fix JS page measuring bug
		display: none;
		opacity: 0;
		transform: scale(1.2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
