#form {
	margin-bottom: .2em;
}

%dirty-field, .dirty .tf-query {
	padding: .2em;
	background: rgba(#fff, .7) !important;
	border-color: rgba(#000, .1);
	outline: none;
}

.tf-query {
	-webkit-appearance: textfield;

	border: 1px solid transparent;
	background: transparent !important;
	font-family: inherit;
	font-size: 1.5em;
	font-weight: 300;
	padding: .2em 0;
	margin: 0;
	transition: all .2s ease;

	&:focus, &:hover {
		@extend %dirty-field;
	}
	&.tt-hint {
		padding: .2em;
	}
	&:focus {
		border-color: rgba(#000, .25);
	}
	&.tt-hint {
		color: #000;
	}

	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

.twitter-typeahead {
	padding: 0;
	width: 100%;
	input {
		width: 100%;
	}
}

.tt- {
	$padding: .2em;
	&dropdown-menu {
		@extend %no-select;
		background: rgba(#fff, .9);
		box-sizing: border-box;
		border: 1px solid rgba(#000, .1);
		border-top-color: #fff;
		// margin-top: -1px;
		padding: $padding;
		width: 100%;
		overflow: auto;

		cursor: default;

		h3 {
			@extend %alternate-font;
			font-size: .8em;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: .4em auto;
		}
		.empty {
			color: rgba(#000, .3);
		}

	}
	&suggestion {
		padding: $padding;
		margin: ($padding) (-$padding);
		border: 1px solid transparent;
		border-left: none;
		border-right: none;
		cursor: pointer;

		p {
			margin: 0;
		}
	}
	&cursor {
		background: rgba(darken($button-color, 5%), .6);
		border-color: rgba(darken($button-color, 10%), .6);
	}
	&hint {
		color: rgba(#000, .4);
	}
	&dataset-artists {
		// width: 50%;
	}
	&dataset-merchants {
		padding: 1em $padding 0;
		margin: 1em (-$padding) 0;
		border-top: 1px solid rgba(#000, .1);
	}
}
