@import 'fonts';
@import 'colors';
@import 'media-queries';
@import 'reader';
@import 'forms';
@import 'search';
@import 'pagenav';
@import 'mixins';
@import 'footer';

body {
	@extend %default-font;
	font-size: 16px;
	background: #fafafa;
	color: #333;
}

header, #read p, footer, #form, #license {
	@include auto-margin;
}

.hidden {
	display: none;
}

.number {
	white-space: nowrap;
}

header, nav {
	@extend %no-select;
}

h1, h2, h3, .tf-query {
	font-weight: 300;
}

.clean nav p {
	display: none;
}
.dirty nav ul {
	display: none;
}

a {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px solid rgba($link-color, .1);
	&:hover {
		border-bottom-color: rgba($link-color, .5);
	}
}

#read nav {
	$padding: .5em;

	border: 1px solid rgba(#000, .1);
	border-left: none;
	border-right: none;

	background: rgba(#000, .05);
	white-space: nowrap;
	padding: 0 $padding;
	margin: 0 (-$padding);

	overflow: auto;
	-webkit-overflow-scrolling: touch;

	p {
		white-space: normal;
	}

	&:hover li {
		opacity: .5;
		will-change: opacity;
	}

	li {
		margin: 0 .5em 0 0;
		transition: opacity .1s ease;
	}

	li:hover {
		opacity: 1;
	}

}

#read h2 {
	display: none;
}
